#addbook-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addbook-title {
    margin-top: 2rem;
    color: darkblue;
}

.inputs {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inputs > input {
    border-radius: 5px;
    border: solid 1px gray;
    padding: 0.3rem;
    margin-top: 0.5rem;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.submit-btn > button {
    padding: 0.5rem;
    color: white;
    background-color: darkblue;
    font-weight: bold;
    border: solid white 2px;
    border-radius: 20px;
    cursor: pointer;
}

.submit-btn > button:hover {
    color: darkblue;
    background-color: white;
    border: solid darkblue 2px;
}